# Data Capstone IBM Baron Purwa Hartono

## Business Problem Understanding

Everywhere in the world can have a traffic accident, and there are many different things that cause the accident to happen, whether its weather condition, road condition (maybe there is a hole in the road, or the road slippery, etc), light condition (Daylight, Dark - Street Lights On, Dark - Street Lights Off, etc), drunk driving, and other things. 

So the goal is we want to reduce traffic accidents as much as possible by understanding what cause the accident to happen, and we can notif the drivers/people to be careful through mobile application like maybe google navigation, etc, if the condition at that time likely cause an accident to happen. 

Or we can educate the population/residents what cause a traffic accident to happen to make them to be more careful.

Hope this project can help many Government to reduce traffic accidents that happen in their area.

## Data Understanding

The data that we have right now to help solve the problem came from the IBM Data Capstone Course. This data give us information about all accidents/collisions that happens in Seattle. So we will analyze the data to understand what caused an accident to happen, and what makes the accidents more severe. And if it possible, we can make machine learning model to predict whether the accident will likely to happen or not based on the condition at that time. 

### Data Set Summary

- **Title :** Collisions—All Years 
- **Abstract :** All collisions provided by SPD and recorded by Traffic Records.
- **Descriptions :** This includes all types of collisions. Collisions will display at the intersection or
mid-block of a segment. Timeframe: 2004 to Present.
- **Update Frequency :** Weekly 
- **Keyword(s) :** SDOT, Seattle, Transportation, Accidents, Bicycle, Car, Collisions, Pedestrian,
Traffic, Vehicle
- **Contact Organization :** SDOT Traffic Management Division, Traffic Records Group
- **Contact Person :** SDOT GIS Analyst 
- **Contact Email :** DOT_IT_GIS@seattle.gov

### Attribute Information

| Attribute | Data Type, Length | Description |
| --- | --- | ---|
| OBJECTID | Long | ESRI unique identifier |
| SHAPE | Geometry | ESRI geometry field |
| INCKEY | Long | A unique key for the incident |
| ADDRTYPE | Text, 12 | Collision address type: Alley, Block, Intersection |
| INTKEY | Double | Key that corresponds to the intersection associated with a collision |
| LOCATION | Text, 255 | Description of the general location of the collision |
| EXCEPTRSNCODE | Text, 10 | |
| EXCEPTRSNDESC | Text, 300 | |
| SEVERITYCODE | Text, 100 | A code that corresponds to the severity of the collision: 3—fatality, 2b—serious injury, 2—injury, 1—prop damage, 0—unknown |
| SEVERITYDESC | Text | A detailed description of the severity of the collision |
| COLLISIONTYPE | Text, 300 | Collision Type |
| PERSONCOUNT | Double | The total number of people involved in the collision |
| PEDCOUNT | Double | The number of pedestrians involved in the collision. This is entered by the state. |
| PEDCYLCOUNT | Double | The number of bicycles involved in the collision. This is entered by the state. |
| VEHCOUNT | Double | The number of vehicles involved in the collision. This is entered by the state. |
| INJURIES | Double | The number of total injuries in the collision. This is entered by the state. |
| SERIOUSINJURIES | Double | The number of serious injuries in the collision. This is entered by the state. |
| FATALITIES | Double | The number of fatalities in the collision. This is entered by the state. | 
| INCDATE | Date | The date of the incident. |
| INCDTTM | Text, 30 | The date and time of the incident. |
| JUNCTIONTYPE | Text, 300 | Category of junction at which collision took place |
| SDOT_COLCODE | Text, 10 | A code given to the collision by SDOT. |
| SDOT_COLDESC | Text, 300 | A description of the collision corresponding to the collision code. |
| INATTENTIONIND | Text, 1 | Whether or not collision was due to inattention. (Y/N) |
| UNDERINFL | Text, 10 | Whether or not a driver involved was under the influence of drugs or alcohol. |
| WEATHER | Text, 300 | A description of the weather conditions during the time of the collision. |
| ROADCOND | Text, 300 | The condition of the road during the collision. |
| LIGHTCOND | Text, 300 | The light conditions during the collision. |
| PEDROWNOTGRNT | Text, 1 | Whether or not the pedestrian right of way was not granted. (Y/N) |
| SDOTCOLNUM | Text, 10 | A number given to the collision by SDOT. |
| SPEEDING | Text, 1 | Whether or not speeding was a factor in the collision. (Y/N) |
| ST_COLCODE | Text, 10 | A code provided by the state that describes the collision. For more information about these codes, please see the State Collision Code Dictionary. | 
| ST_COLDESC | Text, 300 | A description that corresponds to the state’s coding designation. |
| SEGLANEKEY | Long | A key for the lane segment in which the collision occurred. |
| CROSSWALKKEY | Long | A key for the crosswalk at which the collision occurred. |
| HITPARKEDCAR | Text, 1 | Whether or not the collision involved hitting a parked car. (Y/N) |

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,NaN,2,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,1,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,0,Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,1,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,2,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

## Methodology Section

### Data Cleaning

In [6]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,SEVERITYCODE,int64,0,0.00,2,"[1, 2]"
1,X,float64,5334,2.74,23563,"[-122.35331969999999, -122.37544779999999]"
2,Y,float64,5334,2.74,23839,"[47.58632022, 47.522918]"
3,OBJECTID,int64,0,0.00,194673,"[114086, 108702]"
4,INCKEY,int64,0,0.00,194673,"[312481, 116327]"
5,COLDETKEY,int64,0,0.00,194673,"[56417, 148509]"
6,REPORTNO,object,0,0.00,194670,"[E756948, C684047]"
7,STATUS,object,0,0.00,2,"[Unmatched, Matched]"
8,ADDRTYPE,object,1926,0.99,3,"[Intersection, nan]"
9,INTKEY,float64,129603,66.57,7614,"[33566.0, 287171.0]"
10,LOCATION,object,2677,1.38,24102,"[I90 WB 4TH AV OFF RP AND I90 WB OFF RP, GREEN..."
11,EXCEPTRSNCODE,object,109862,56.43,2,"[nan, NEI]"
12,EXCEPTRSNDESC,object,189035,97.10,1,"[nan, Not Enough Information, or Insufficient ..."
13,SEVERITYCODE.1,int64,0,0.00,2,"[2, 1]"
14,SEVERITYDESC,object,0,0.00,2,"[Property Damage Only Collision, Injury Collis..."
15,COLLISIONTYPE,object,4904,2.52,10,"[Other, Left Turn]"
16,PERSONCOUNT,int64,0,0.00,47,"[54, 1]"
17,PEDCOUNT,int64,0,0.00,7,"[5, 1]"
18,PEDCYLCOUNT,int64,0,0.00,3,"[0, 1]"
19,VEHCOUNT,int64,0,0.00,13,"[4, 7]"
20,INCDATE,object,0,0.00,5985,"[2015/07/14 00:00:00+00, 2006/04/08 00:00:00+00]"
21,INCDTTM,object,0,0.00,162058,"[12/20/2007 12:00:00 PM, 6/11/2005 11:46:00 PM]"
22,JUNCTIONTYPE,object,6329,3.25,7,[At Intersection (but not related to intersect...
23,SDOT_COLCODE,int64,0,0.00,39,"[64, 48]"
24,SDOT_COLDESC,object,0,0.00,39,[DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT ...
25,INATTENTIONIND,object,164868,84.69,1,"[Y, nan]"
26,UNDERINFL,object,4884,2.51,4,"[Y, N]"
27,WEATHER,object,5081,2.61,11,"[Clear, nan]"
28,ROADCOND,object,5012,2.57,9,"[Unknown, Ice]"
29,LIGHTCOND,object,5170,2.66,9,"[Other, Dark - Unknown Lighting]"
30,PEDROWNOTGRNT,object,190006,97.60,1,"[nan, Y]"
31,SDOTCOLNUM,float64,79737,40.96,114932,"[10317039.0, 9215022.0]"
32,SPEEDING,object,185340,95.21,1,"[Y, nan]"
33,ST_COLCODE,object,18,0.01,115,"[16, 28]"
34,ST_COLDESC,object,4904,2.52,62,[Same direction -- both turning left -- one st...
35,SEGLANEKEY,int64,0,0.00,1955,"[35281, 11566]"
36,CROSSWALKKEY,int64,0,0.00,2198,"[524464, 523243]"
37,HITPARKEDCAR,object,0,0.00,2,"[Y, N]"

First i will drop some columns that not needed in my analysis, columns that have too many missing values, and columns that only have 1 unique value (all values is the same), and i will use the desc column not the code column for easier to read the data.

In [7]:
df.drop(['SEVERITYCODE','X','Y','OBJECTID','INCKEY','COLDETKEY',
         'REPORTNO','INTKEY','LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC',
         'SEVERITYCODE.1','SDOT_COLCODE','INATTENTIONIND','PEDROWNOTGRNT',
         'SDOTCOLNUM','SPEEDING','SEGLANEKEY','CROSSWALKKEY'],axis=1, inplace=True)

lets check the dataframe info again

In [8]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,STATUS,object,0,0.00,2,"[Unmatched, Matched]"
1,ADDRTYPE,object,1926,0.99,3,"[nan, Alley]"
2,SEVERITYDESC,object,0,0.00,2,"[Injury Collision, Property Damage Only Collis..."
3,COLLISIONTYPE,object,4904,2.52,10,"[Right Turn, Angles]"
4,PERSONCOUNT,int64,0,0.00,47,"[1, 36]"
5,PEDCOUNT,int64,0,0.00,7,"[6, 1]"
6,PEDCYLCOUNT,int64,0,0.00,3,"[1, 2]"
7,VEHCOUNT,int64,0,0.00,13,"[5, 0]"
8,INCDATE,object,0,0.00,5985,"[2006/09/18 00:00:00+00, 2014/08/08 00:00:00+00]"
9,INCDTTM,object,0,0.00,162058,"[9/13/2019 8:22:00 PM, 8/20/2008 5:00:00 PM]"
10,JUNCTIONTYPE,object,6329,3.25,7,"[At Intersection (intersection related), Unknown]"
11,SDOT_COLDESC,object,0,0.00,39,"[PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT,..."
12,UNDERINFL,object,4884,2.51,4,"[0, 1]"
13,WEATHER,object,5081,2.61,11,"[Other, Sleet/Hail/Freezing Rain]"
14,ROADCOND,object,5012,2.57,9,"[Sand/Mud/Dirt, Ice]"
15,LIGHTCOND,object,5170,2.66,9,"[Other, Dawn]"
16,ST_COLCODE,object,18,0.01,115,"[71, 23]"
17,ST_COLDESC,object,4904,2.52,62,"[Railway Vehicle Strikes Vehicle, nan]"
18,HITPARKEDCAR,object,0,0.00,2,"[Y, N]"

lets check ST_COLCODE data, it seems suspicious because the data type isnt int but object(string), and the sum of the null values not the same as ST_COLDESC

In [9]:
df['ST_COLCODE'].unique()

array(['10', '11', '32', '23', '5', '22', '14', '30', ' ', '28', '51',
       '13', '50', '12', '45', '0', '20', '21', '1', '52', '16', '15',
       '74', '81', '26', '19', '2', '66', '71', '3', '24', '40', '57',
       '6', '83', '25', '27', '4', '72', '29', '56', '73', '41', '17',
       '65', '82', '67', '49', '84', '31', '43', '42', '48', '64', '53',
       32, 50, 15, 10, 14, 20, 13, 22, 51, 11, 28, 12, 52, 21, 0, 19, 30,
       16, 40, 26, 27, 83, 2, 45, 65, 23, 24, 71, 1, 29, 81, 25, 4, 73,
       74, 72, 3, 84, 64, 57, 42, 41, 48, 66, 56, 31, 82, 67, '54', '60',
       53, 43, 87, 54, '87', nan, '7', '8', '85', '88', '18'],
      dtype=object)

if we see it clearly, there is an empty space data (' '), and there are some duplicate value data (some string, some int)

so lets fix it

In [10]:
df['ST_COLCODE'].replace(to_replace=' ',value=np.nan,inplace=True)

In [11]:
df['ST_COLCODE'].unique()

array(['10', '11', '32', '23', '5', '22', '14', '30', nan, '28', '51',
       '13', '50', '12', '45', '0', '20', '21', '1', '52', '16', '15',
       '74', '81', '26', '19', '2', '66', '71', '3', '24', '40', '57',
       '6', '83', '25', '27', '4', '72', '29', '56', '73', '41', '17',
       '65', '82', '67', '49', '84', '31', '43', '42', '48', '64', '53',
       32, 50, 15, 10, 14, 20, 13, 22, 51, 11, 28, 12, 52, 21, 0, 19, 30,
       16, 40, 26, 27, 83, 2, 45, 65, 23, 24, 71, 1, 29, 81, 25, 4, 73,
       74, 72, 3, 84, 64, 57, 42, 41, 48, 66, 56, 31, 82, 67, '54', '60',
       53, 43, 87, 54, '87', '7', '8', '85', '88', '18'], dtype=object)

In [12]:
df['ST_COLCODE'] = pd.to_numeric(df['ST_COLCODE'])

In [13]:
df['ST_COLCODE'].unique()

array([10., 11., 32., 23.,  5., 22., 14., 30., nan, 28., 51., 13., 50.,
       12., 45.,  0., 20., 21.,  1., 52., 16., 15., 74., 81., 26., 19.,
        2., 66., 71.,  3., 24., 40., 57.,  6., 83., 25., 27.,  4., 72.,
       29., 56., 73., 41., 17., 65., 82., 67., 49., 84., 31., 43., 42.,
       48., 64., 53., 54., 60., 87.,  7.,  8., 85., 88., 18.])

In [19]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,STATUS,object,0,0.00,2,"[Unmatched, Matched]"
1,ADDRTYPE,object,1926,0.99,3,"[nan, Alley]"
2,SEVERITYDESC,object,0,0.00,2,"[Injury Collision, Property Damage Only Collis..."
3,COLLISIONTYPE,object,4904,2.52,10,"[Right Turn, Head On]"
4,PERSONCOUNT,int64,0,0.00,47,"[27, 47]"
5,PEDCOUNT,int64,0,0.00,7,"[1, 3]"
6,PEDCYLCOUNT,int64,0,0.00,3,"[1, 0]"
7,VEHCOUNT,int64,0,0.00,13,"[6, 2]"
8,INCDATE,"datetime64[ns, UTC]",0,0.00,5985,"[2004-02-13T00:00:00.000000000, 2006-06-22T00:..."
9,INCDTTM,datetime64[ns],0,0.00,162058,"[2004-01-26T11:16:00.000000000, 2005-10-29T17:..."
10,JUNCTIONTYPE,object,6329,3.25,7,"[Mid-Block (not related to intersection), Mid-..."
11,SDOT_COLDESC,object,0,0.00,39,"[PEDALCYCLIST STRUCK OBJECT IN ROAD, PEDALCYCL..."
12,UNDERINFL,object,4884,2.51,4,"[nan, 0]"
13,WEATHER,object,5081,2.61,11,"[Raining, Snowing]"
14,ROADCOND,object,5012,2.57,9,"[Oil, Dry]"
15,LIGHTCOND,object,5170,2.66,9,"[Dark - Street Lights Off, Daylight]"
16,ST_COLCODE,float64,4904,2.52,62,"[49.0, 72.0]"
17,ST_COLDESC,object,4904,2.52,62,"[Vehicle hits Pedestrian - All Other Actions, ..."
18,HITPARKEDCAR,object,0,0.00,2,"[N, Y]"

the ST_COLCODE now have same missing values with ST_COLDESC, but because there is missing data, the column data type still float64 cant be int64, lets change it later after we clear the missing values. 

but for now lets first change INCDATE, INCDTTM columns data type to datetime type

In [14]:
df['INCDATE'] = pd.to_datetime(df['INCDATE']) 
df['INCDTTM'] = pd.to_datetime(df['INCDTTM'])

lets check the dataframe info again

In [15]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,STATUS,object,0,0.00,2,"[Matched, Unmatched]"
1,ADDRTYPE,object,1926,0.99,3,"[nan, Intersection]"
2,SEVERITYDESC,object,0,0.00,2,"[Injury Collision, Property Damage Only Collis..."
3,COLLISIONTYPE,object,4904,2.52,10,"[Angles, Right Turn]"
4,PERSONCOUNT,int64,0,0.00,47,"[2, 5]"
5,PEDCOUNT,int64,0,0.00,7,"[1, 2]"
6,PEDCYLCOUNT,int64,0,0.00,3,"[0, 2]"
7,VEHCOUNT,int64,0,0.00,13,"[6, 3]"
8,INCDATE,"datetime64[ns, UTC]",0,0.00,5985,"[2016-07-29T00:00:00.000000000, 2005-03-20T00:..."
9,INCDTTM,datetime64[ns],0,0.00,162058,"[2008-04-10T12:48:00.000000000, 2007-06-25T23:..."
10,JUNCTIONTYPE,object,6329,3.25,7,"[Mid-Block (not related to intersection), Unkn..."
11,SDOT_COLDESC,object,0,0.00,39,[DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT...
12,UNDERINFL,object,4884,2.51,4,"[0, Y]"
13,WEATHER,object,5081,2.61,11,"[nan, Clear]"
14,ROADCOND,object,5012,2.57,9,"[Other, Oil]"
15,LIGHTCOND,object,5170,2.66,9,"[Dusk, Dark - Street Lights Off]"
16,ST_COLCODE,float64,4904,2.52,62,"[11.0, 49.0]"
17,ST_COLDESC,object,4904,2.52,62,"[Railway Vehicle Strikes Pedestrian, Vehicle H..."
18,HITPARKEDCAR,object,0,0.00,2,"[N, Y]"

for now, i will just drop all rows that have missing values, because we need the data as correct as possible.
and the missing values not that much compare to our entire dataset.

In [20]:
df.dropna(inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182895 entries, 0 to 194672
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   STATUS         182895 non-null  object
 1   ADDRTYPE       182895 non-null  object
 2   SEVERITYDESC   182895 non-null  object
 3   COLLISIONTYPE  182895 non-null  object
 4   PERSONCOUNT    182895 non-null  int64
 5   PEDCOUNT       182895 non-null  int64
 6   PEDCYLCOUNT    182895 non-null  int64
 7   VEHCOUNT       182895 non-null  int64
 8   INCDATE        182895 non-null  datetime64[ns, UTC]
 9   INCDTTM        182895 non-null  datetime64[ns]
 10  JUNCTIONTYPE   182895 non-null  object
 11  SDOT_COLDESC   182895 non-null  object
 12  UNDERINFL      182895 non-null  object
 13  WEATHER        182895 non-null  object
 14  ROADCOND       182895 non-null  object
 15  LIGHTCOND      182895 non-null  object
 16  ST_COLCODE     182895 non-null  float64
 17  ST_COLDESC     182895 non-null  object
 18  HITPARKEDCAR   182895 non-null  object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(4), object(12)
memory usage: 27.9+ MB

now we have 182895 rows data and no missing values. now lets change the ST_COLCODE datatype to int

In [23]:
df['ST_COLCODE'] = df['ST_COLCODE'].astype(int)

In [24]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,STATUS,object,0,0.0,2,"[Matched, Unmatched]"
1,ADDRTYPE,object,0,0.0,3,"[Block, Alley]"
2,SEVERITYDESC,object,0,0.0,2,"[Property Damage Only Collision, Injury Collis..."
3,COLLISIONTYPE,object,0,0.0,10,"[Rear Ended, Parked Car]"
4,PERSONCOUNT,int64,0,0.0,47,"[6, 37]"
5,PEDCOUNT,int64,0,0.0,7,"[3, 6]"
6,PEDCYLCOUNT,int64,0,0.0,3,"[1, 0]"
7,VEHCOUNT,int64,0,0.0,13,"[2, 4]"
8,INCDATE,"datetime64[ns, UTC]",0,0.0,5947,"[2017-05-05T00:00:00.000000000, 2004-08-04T00:..."
9,INCDTTM,datetime64[ns],0,0.0,154541,"[2013-03-15T01:07:00.000000000, 2005-10-23T11:..."
10,JUNCTIONTYPE,object,0,0.0,7,"[Driveway Junction, Mid-Block (not related to ..."
11,SDOT_COLDESC,object,0,0.0,39,"[MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE..."
12,UNDERINFL,object,0,0.0,4,"[0, 1]"
13,WEATHER,object,0,0.0,11,"[Partly Cloudy, Raining]"
14,ROADCOND,object,0,0.0,9,"[Wet, Standing Water]"
15,LIGHTCOND,object,0,0.0,9,"[Dark - Street Lights Off, Daylight]"
16,ST_COLCODE,int32,0,0.0,62,"[53, 26]"
17,ST_COLDESC,object,0,0.0,62,"[From same direction - all others, Pedalcyclis..."
18,HITPARKEDCAR,object,0,0.0,2,"[Y, N]"

now lets check the UNDERINFL columns, it seems suspicious too because it have 4 unique values

In [25]:
df['UNDERINFL'].unique()

array(['N', '0', '1', 'Y'], dtype=object)

we see that the data isnt consistent, there is N & 0, and 1 & Y, they explained the same thing. so lets just choose
one format, for now i will choose the 0 and 1 format.

so lets change the values, and the column data type to int.

In [26]:
def changeUNDERINFLValue(val) :
    if(val == 'N') :
        return '0'
    elif(val == 'Y') :
        return '1'
    return val
    
df['UNDERINFL'] = df['UNDERINFL'].apply(changeUNDERINFLValue)
df['UNDERINFL'] = df['UNDERINFL'].astype(int)
df['UNDERINFL'].unique()

array([0, 1])

ok now i think the data is ready to be analyze, so lets start the EDA.

### Exploratory Data Analysis (EDA)