# Data Capstone IBM Baron Purwa Hartono

## Business Problem Understanding

Everywhere in the world can have a traffic accident, and there are many different things that cause the accident to happen, whether its weather condition, road condition (maybe there is a hole in the road, or the road slippery, etc), light condition (Daylight, Dark - Street Lights On, Dark - Street Lights Off, etc), drunk driving, and other things. 

So the goal is we want to reduce traffic accidents as much as possible by understanding what cause the accident to happen, and we can notif the drivers/people to be careful through mobile application like maybe google navigation, etc, if the condition at that time likely cause an accident to happen. 

Or we can educate the population/residents what cause a traffic accident to happen to make them to be more careful.

Hope this project can help many Government to reduce traffic accidents that happen in their area.

## Data Understanding

The data that we have right now to help solve the problem came from the IBM Data Capstone Course. This data give us information about all accidents/collisions that happens in Seattle. So we will analyze the data to understand what caused an accident to happen, and what makes the accidents more severe. And if it possible, we can make machine learning model to predict whether the accident will likely to happen or not based on the condition at that time. 

### Data Set Summary

- **Title :** Collisions—All Years 
- **Abstract :** All collisions provided by SPD and recorded by Traffic Records.
- **Descriptions :** This includes all types of collisions. Collisions will display at the intersection or
mid-block of a segment. Timeframe: 2004 to Present.
- **Update Frequency :** Weekly 
- **Keyword(s) :** SDOT, Seattle, Transportation, Accidents, Bicycle, Car, Collisions, Pedestrian,
Traffic, Vehicle
- **Contact Organization :** SDOT Traffic Management Division, Traffic Records Group
- **Contact Person :** SDOT GIS Analyst 
- **Contact Email :** DOT_IT_GIS@seattle.gov

### Attribute Information

| Attribute | Data Type, Length | Description |
| --- | --- | ---|
| OBJECTID | Long | ESRI unique identifier |
| SHAPE | Geometry | ESRI geometry field |
| INCKEY | Long | A unique key for the incident |
| ADDRTYPE | Text, 12 | Collision address type: Alley, Block, Intersection |
| INTKEY | Double | Key that corresponds to the intersection associated with a collision |
| LOCATION | Text, 255 | Description of the general location of the collision |
| EXCEPTRSNCODE | Text, 10 | |
| EXCEPTRSNDESC | Text, 300 | |
| SEVERITYCODE | Text, 100 | A code that corresponds to the severity of the collision: 3—fatality, 2b—serious injury, 2—injury, 1—prop damage, 0—unknown |
| SEVERITYDESC | Text | A detailed description of the severity of the collision |
| COLLISIONTYPE | Text, 300 | Collision Type |
| PERSONCOUNT | Double | The total number of people involved in the collision |
| PEDCOUNT | Double | The number of pedestrians involved in the collision. This is entered by the state. |
| PEDCYLCOUNT | Double | The number of bicycles involved in the collision. This is entered by the state. |
| VEHCOUNT | Double | The number of vehicles involved in the collision. This is entered by the state. |
| INJURIES | Double | The number of total injuries in the collision. This is entered by the state. |
| SERIOUSINJURIES | Double | The number of serious injuries in the collision. This is entered by the state. |
| FATALITIES | Double | The number of fatalities in the collision. This is entered by the state. | 
| INCDATE | Date | The date of the incident. |
| INCDTTM | Text, 30 | The date and time of the incident. |
| JUNCTIONTYPE | Text, 300 | Category of junction at which collision took place |
| SDOT_COLCODE | Text, 10 | A code given to the collision by SDOT. |
| SDOT_COLDESC | Text, 300 | A description of the collision corresponding to the collision code. |
| INATTENTIONIND | Text, 1 | Whether or not collision was due to inattention. (Y/N) |
| UNDERINFL | Text, 10 | Whether or not a driver involved was under the influence of drugs or alcohol. |
| WEATHER | Text, 300 | A description of the weather conditions during the time of the collision. |
| ROADCOND | Text, 300 | The condition of the road during the collision. |
| LIGHTCOND | Text, 300 | The light conditions during the collision. |
| PEDROWNOTGRNT | Text, 1 | Whether or not the pedestrian right of way was not granted. (Y/N) |
| SDOTCOLNUM | Text, 10 | A number given to the collision by SDOT. |
| SPEEDING | Text, 1 | Whether or not speeding was a factor in the collision. (Y/N) |
| ST_COLCODE | Text, 10 | A code provided by the state that describes the collision. For more information about these codes, please see the State Collision Code Dictionary. | 
| ST_COLDESC | Text, 300 | A description that corresponds to the state’s coding designation. |
| SEGLANEKEY | Long | A key for the lane segment in which the collision occurred. |
| CROSSWALKKEY | Long | A key for the crosswalk at which the collision occurred. |
| HITPARKEDCAR | Text, 1 | Whether or not the collision involved hitting a parked car. (Y/N) |

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,NaN,2,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,1,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,0,Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,1,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,2,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

## EDA

In [6]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [7]:
df.describe(include=['O'])

,REPORTNO,STATUS,ADDRTYPE,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYDESC,COLLISIONTYPE,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
count,194673,194673,192747,191996,84811,5638,194673,189769,194673,194673,188344,194673,29805,189789,189592,189661,189503,4667,9333,194655,189769,194673
unique,194670,2,3,24102,2,1,2,10,5985,162058,7,39,1,4,11,9,9,1,1,115,62,2
top,1776526,Matched,Block,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,,"Not Enough Information, or Insufficient Locati...",Property Damage Only Collision,Parked Car,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Y,N,Clear,Dry,Daylight,Y,Y,32,One parked--one moving,N
freq,2,189786,126926,276,79173,5638,136485,47987,96,96,89800,85209,29805,100274,111135,124510,116137,4667,9333,27612,44421,187457

In [8]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,SEVERITYCODE,int64,0,0.00,2,"[2, 1]"
1,X,float64,5334,2.74,23563,"[-122.29117409999999, -122.33622079999999]"
2,Y,float64,5334,2.74,23839,"[47.68897441, 47.54450135]"
3,OBJECTID,int64,0,0.00,194673,"[190216, 9376]"
4,INCKEY,int64,0,0.00,194673,"[24341, 323791]"
5,COLDETKEY,int64,0,0.00,194673,"[85433, 278957]"
6,REPORTNO,object,0,0.00,194670,"[1079050, 3330332]"
7,STATUS,object,0,0.00,2,"[Matched, Unmatched]"
8,ADDRTYPE,object,1926,0.99,3,"[Alley, Block]"
9,INTKEY,float64,129603,66.57,7614,"[26921.0, 38316.0]"
10,LOCATION,object,2677,1.38,24102,[45TH AVE NE BETWEEN NE 68TH ST AND NE 70TH ST...
11,EXCEPTRSNCODE,object,109862,56.43,2,"[nan, ]"
12,EXCEPTRSNDESC,object,189035,97.10,1,"[nan, Not Enough Information, or Insufficient ..."
13,SEVERITYCODE.1,int64,0,0.00,2,"[2, 1]"
14,SEVERITYDESC,object,0,0.00,2,"[Property Damage Only Collision, Injury Collis..."
15,COLLISIONTYPE,object,4904,2.52,10,"[Parked Car, Rear Ended]"
16,PERSONCOUNT,int64,0,0.00,47,"[39, 44]"
17,PEDCOUNT,int64,0,0.00,7,"[6, 5]"
18,PEDCYLCOUNT,int64,0,0.00,3,"[0, 2]"
19,VEHCOUNT,int64,0,0.00,13,"[1, 12]"
20,INCDATE,object,0,0.00,5985,"[2009/11/28 00:00:00+00, 2018/03/21 00:00:00+00]"
21,INCDTTM,object,0,0.00,162058,"[5/5/2011 11:55:00 AM, 5/13/2016 7:31:00 PM]"
22,JUNCTIONTYPE,object,6329,3.25,7,[At Intersection (but not related to intersect...
23,SDOT_COLCODE,int64,0,0.00,39,"[58, 31]"
24,SDOT_COLDESC,object,0,0.00,39,"[MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE..."
25,INATTENTIONIND,object,164868,84.69,1,"[Y, nan]"
26,UNDERINFL,object,4884,2.51,4,"[Y, 1]"
27,WEATHER,object,5081,2.61,11,"[Partly Cloudy, nan]"
28,ROADCOND,object,5012,2.57,9,"[Snow/Slush, Oil]"
29,LIGHTCOND,object,5170,2.66,9,"[Dusk, Dark - Street Lights On]"
30,PEDROWNOTGRNT,object,190006,97.60,1,"[Y, nan]"
31,SDOTCOLNUM,float64,79737,40.96,114932,"[6306033.0, 12029019.0]"
32,SPEEDING,object,185340,95.21,1,"[nan, Y]"
33,ST_COLCODE,object,18,0.01,115,"[25, 0]"
34,ST_COLDESC,object,4904,2.52,62,"[From same direction - all others, Strikes or ..."
35,SEGLANEKEY,int64,0,0.00,1955,"[17393, 12103]"
36,CROSSWALKKEY,int64,0,0.00,2198,"[523463, 521938]"
37,HITPARKEDCAR,object,0,0.00,2,"[Y, N]"

First i will drop some columns that not needed in my analysis, columns that have too many missing values, and columns that only have 1 unique value (all values is the same), and i will use the desc column not the code column for easier to read the data.

In [9]:
df.drop(['SEVERITYCODE','X','Y','OBJECTID','INCKEY','COLDETKEY',
         'REPORTNO','INTKEY','LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC',
         'SEVERITYCODE.1','SDOT_COLCODE','INATTENTIONIND','PEDROWNOTGRNT',
         'SDOTCOLNUM','SPEEDING','SEGLANEKEY','CROSSWALKKEY'],axis=1, inplace=True)

lets check the dataframe info again

In [10]:
df.describe()

         PERSONCOUNT       PEDCOUNT    PEDCYLCOUNT       VEHCOUNT
count  194673.000000  194673.000000  194673.000000  194673.000000
mean        2.444427       0.037139       0.028391       1.920780
std         1.345929       0.198150       0.167413       0.631047
min         0.000000       0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000       2.000000
50%         2.000000       0.000000       0.000000       2.000000
75%         3.000000       0.000000       0.000000       2.000000
max        81.000000       6.000000       2.000000      12.000000

In [11]:
df.describe(include=['O'])

,STATUS,ADDRTYPE,SEVERITYDESC,COLLISIONTYPE,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
count,194673,192747,194673,189769,194673,194673,188344,194673,189789,189592,189661,189503,194655,189769,194673
unique,2,3,2,10,5985,162058,7,39,4,11,9,9,115,62,2
top,Matched,Block,Property Damage Only Collision,Parked Car,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry,Daylight,32,One parked--one moving,N
freq,189786,126926,136485,47987,96,96,89800,85209,100274,111135,124510,116137,27612,44421,187457

In [12]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                     data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,STATUS,object,0,0.00,2,"[Unmatched, Matched]"
1,ADDRTYPE,object,1926,0.99,3,"[nan, Alley]"
2,SEVERITYDESC,object,0,0.00,2,"[Injury Collision, Property Damage Only Collis..."
3,COLLISIONTYPE,object,4904,2.52,10,"[Head On, Sideswipe]"
4,PERSONCOUNT,int64,0,0.00,47,"[10, 34]"
5,PEDCOUNT,int64,0,0.00,7,"[6, 0]"
6,PEDCYLCOUNT,int64,0,0.00,3,"[2, 0]"
7,VEHCOUNT,int64,0,0.00,13,"[10, 1]"
8,INCDATE,object,0,0.00,5985,"[2012/08/08 00:00:00+00, 2013/08/07 00:00:00+00]"
9,INCDTTM,object,0,0.00,162058,"[8/19/2015 4:00:00 PM, 9/27/2016 9:55:00 AM]"
10,JUNCTIONTYPE,object,6329,3.25,7,"[Ramp Junction, At Intersection (intersection ..."
11,SDOT_COLDESC,object,0,0.00,39,"[MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE..."
12,UNDERINFL,object,4884,2.51,4,"[nan, Y]"
13,WEATHER,object,5081,2.61,11,"[nan, Sleet/Hail/Freezing Rain]"
14,ROADCOND,object,5012,2.57,9,"[Ice, Unknown]"
15,LIGHTCOND,object,5170,2.66,9,"[Dusk, Daylight]"
16,ST_COLCODE,object,18,0.01,115,"[52, 0]"
17,ST_COLDESC,object,4904,2.52,62,"[Vehicle backing hits pedestrian, From same di..."
18,HITPARKEDCAR,object,0,0.00,2,"[Y, N]"